@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

html, body {
    font-family: 'Permanent Marker', cursive;
    background-color: black;
    color: red;
    text-align: center;
}

.title { 
    font-size: 10rem; 
    margin-top: 0; 
    margin-bottom: 1rem; 
}

.subtitle { 
    font-size: 3rem; 
    margin-top: 0; 
    margin-bottom: 2rem; 
}

.section-header {
    font-size: 2rem;
    margin-bottom: 0.5em;
}

.section-body {
    font-size: 1.2rem;
}